* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color: #008bff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.card.dark{
    --color:rgb(58, 255, 58);
}

.card {
    background-color: #ffffff21;
    color: white;
    border-radius: 12px;
    padding: 16px;
    max-width: 400px;
    position: relative;
}

.card h1 {
    font-size: 20px;
}

.card p {
    font-size: 16px;

}

.mt-16 {
    margin-top: 16px;
}

.text-center {
    text-align: center;
}

.profile .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid var(--color);
}

.card .btn_action {
    padding: 8px 10px;
    text-decoration: none;
    color: white;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color);
    font-size: 16px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    align-items: center;
}

.card .btn_action span {
    margin-left: 8px;
}

.card .btn_action:hover {
    background: var(--color);
    border: 1px solid white;
}

.bg_content {
    background: #2927278f;
}

.rd_12 {
    border-radius: 12px;
}

.p_8 {
    padding: 8px;
}

.card_body {
    min-width: 370px;
    z-index: 2;
    position: relative;
}

.highlight{
    color: var(--color);
    font-weight: 600;
}

.toggle-btn,.dark-mode{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    background-color: tomato;
    border-radius: 50%;

}

.toggle-btn{
    z-index: 3;
    background-color: whitesmoke;
    border: 3px solid var(--color);
    box-shadow: 1px 1px 4px 3px  #bfb3b3be;
}

.toggle-btn.dark{
    background-color: #323030;
}

.card .dark-mode{
    z-index: 1;
    background-color: #323030;
    transition: 1s ease-in;
    transform: scale(0);
    border: 1px dashed var(--color);
}

.card.dark .toggle-btn{
    background-color: #323030;
}

.card.dark.dark-mode{
    transition: 1s ease-in;
    transform: scale(50);
    
}


/* Improve sendiri */
.layanan {
    color: rgb(0, 247, 255);
    font-size: 25px;
    color: var(--color);
    
} 

@media only screen and (max-width: 500px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    .card {
        max-width: 300px;
    }
    .card .btn_action {
        width: 70%;
    }
    .profile .avatar {
        width: 100px;
        height: 100px;
    }
    .profile {
        width: 70%;
    }
  }